@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
img {
    width: 100%;
    border-radius: 12px;
    height: 214px;

    object-fit: cover;
}

body {
    background-color: #EAEFF1;
    font-family: 'Raleway', sans-serif;
}


.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card {
    background-color: white;
    padding: 8px;

    border-radius: 12px;
    border: 1px solid #BACDD8;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #BACDD8;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;

}

.name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;

}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;

}

button {
    background-color: pink;
    border-radius: 50px;
    border: 1px solid pink;
    padding: 12px 16px;
    font-weight: 600;
    margin: 0 auto;
    
}